@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

body {
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  background: #fff;
  margin: 50px;
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
  border-left: 50px solid #fff;
  border-right: 50px solid #fff;
}

.container .top {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px;
  padding-bottom: 0;
}

.container .top .imgBx {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.container .top .imgBx .box {
  position: relative;
  width: 70%;
  min-width: 270px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1;
  box-shadow: 0 0 8px rgba(0, 0, 0, .3),
  0 0 12px rgba(0, 0, 0, .6),
  0 0 16px rgba(0, 0, 0, .9);
}

.container .top .imgBx .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 8px black;
}

.container .top .profileText {
  position: relative;
  padding: 40px;
  display: flex;
  align-items: center;
}

.container .top .profileText h3 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
  color: #333;
  text-align: right;
}

.container .top .profileText h3 span {
  position: relative;
  width: 100%;
  font-size: 0.5em;
  font-weight: 300;
  top: -10px;
}

.container .contentBox {
  position: relative;
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 100px;
  padding: 0 40px 40px;
}

.rightSide {
  padding-left: 40px;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.leftSide {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  background: black;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leftSide .group {
  padding: 10px;
}

.leftSide .group h2 {
  margin-bottom: 15px;
  font-size: 30px;
  letter-spacing: 6px;
  color: whitesmoke;
  text-shadow: 0 0 4px blue,
  0 0 8px blueviolet,
  0 0 16px blueviolet;
}

.rightSide h2 {
  font-size: 30px;
  letter-spacing: 6px;
  text-shadow: 0 0 1px orange,
  0 0 2px orangered,
  0 0 3px red;
}

.rightSide .about p {
  text-align: justify;
  font-size: 0.7em;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 3;
}

.container .contentBox .footer {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  height: 50px;
  padding-top: 15px;
}

.container .contentBox .footer h3 {
  border-left: 4px solid #ff8bb3;
  width: 20%;
  height: 30px;
  padding-left: 10px;
  line-height: 1em;
  font-weight: 600;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: 50px;
  text-transform: uppercase;
  margin: auto 0;
}

.container .contentBox .footer ul {
  position: relative;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-between;
  gap: 0;
  margin: 0;
}

.container .contentBox .footer ul li {
  list-style: none;
  font-size: 0.8em;
  width: 50%;
  margin: 0;
  line-height: 1em;
  color: #333;
  cursor: pointer;
  pointer-events: none;
}

.container .contentBox .footer ul li span a {
  text-decoration: none;
  pointer-events: auto;
}

.container .contentBox .footer ul li span a:hover {
  text-decoration: underline;
}

.container .contentBox .footer ul li ion-icon {
  font-size: 1.2em;
  margin-right: 10px;
  color: #3590d2;
}

/* .container .contentBox .footer ul li ion-icon .icon-inner {
  padding: 4px;
} */
  
.container .contentBox ul.education li {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  pointer-events: none;
  font-size: 0.7em;
}

.container .contentBox ul.education li a {
  position: relative;
  text-decoration: none;
  padding: 1px 13px;
  pointer-events: auto;
  width: 70%;
}

.container .contentBox ul.education li a:hover {
  letter-spacing: 2px;
}

.container .contentBox ul.education li a::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 0;
  width: 10px;
  height: 10px;
  /* convierte el cuadrado a un triangulo */
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background: #ff8bb3;
  transition: 0.5s;
}

h5 {
  color: #3590d2;
}

h4 {
  color: #333;
  font-weight: 500;
  margin: 0;
}

h6 {
  color: #666;
  font-weight: 300;
  font-size: 1em;
}

.language li {
  flex-direction: column;
}

.language li span {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

.language .percent {
  position: relative;
  width: 100%;
  background: #e3e3e3;
  height: 4px;
  margin-top: 5px;
  margin-bottom: 8px;
  display: block;
  overflow: hidden;
}

.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

.container .contentBox ul.interest {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container .contentBox ul.interest li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 2.5px;
}

.container .contentBox ul.interest li .icon {
  position: relative;
  width: 40px;
  height: 40px;
  background: #3590d2;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .contentBox ul.interest li .icon ion-icon {
  color: #fff;
  margin-right: 0;
}

p {
  font-style: 300;
}

.about .box {
  display: flex;
  flex-direction: row;
  margin: 7px 0;
}

.about .box .year_company {
  min-width: 150px;
  margin-bottom: 10px;
}

.about .box .year_company h5 {
  color: #333;
  font-weight: 600;
}

.about .box .year_company h5:nth-child(1) {
  color: #3590d2;
}

.about .box .text h4 {
  color: #3590d2;
  font-size: 16px;
  margin: 0;
}

.about.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}

.about.skills .box h4 {
  color: #333;
  font-weight: 500;
  margin-bottom: 5px;
}

.about.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: #e3e3e3;
}

.about.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #3590d2;
}

.language li span {
  font-size: 0.7em;
}
